.card {
    -fx-background-color: linear-gradient(to right, #19330e, #56ab2f);
    -fx-background-radius: 5px;
}

.card:hover{
    -fx-background-color: linear-gradient(to right, #56ab2f, #19330e);
    -fx-background-radius: 5px;
}

.button {
    -fx-background-color: #56AB2F;
    -fx-padding: 10px 20px;
}

.table-row-cell {
    -fx-background-color: #ddeed5;
}

.table-row-cell:hover {
    -fx-background-color: #56ab2f;
}

.default-color0.chart-pie {
    -fx-pie-color : #56ab2f;
}

.default-color1.chart-pie {
    -fx-pie-color : #33661c;
}


