.card {
    -fx-background-color: linear-gradient(to right, #19330e, #56ab2f);
    -fx-background-radius: 5px;
}

.card:hover{
    -fx-background-color: linear-gradient(to right, #56ab2f, #19330e);
    -fx-background-radius: 5px;
}

.button {
    -fx-background-color: #56AB2F;
    -fx-padding: 10px 20px;
}

.table-row-cell {
    -fx-background-color: #ddeed5;
}

.table-row-cell:hover {
    -fx-background-color: #56ab2f;
}

.table-row-cell:selected {
    -fx-text-fill: black;
    -fx-background-color: #448825;
}

.default-color0.chart-pie {
    -fx-pie-color : #56ab2f;
    -fx-padding: 10px;
}

.default-color1.chart-pie {
    -fx-pie-color : #33661c;
}

#sale
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#448825 0%,#33661c 100%),
            #4d992a,
            #4d992a,
            radial-gradient(center 50% 50%, radius 100%,#66b343,#3c7720);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
}

#sale:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#448825 0%,#33661c 100%),
            #4d992a,
            #4d992a,
            radial-gradient(center 50% 50%, radius 100%,#66b343,#3c7720);
}

#sale:pressed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}



